@font-face {
	font-family: "Roboto";
	src: url("../font/Roboto/Roboto-Black.woff") format("woff");
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: "Roboto";
	src: url("../font/Roboto/RobotoBold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Roboto";
	src: url("../font/Roboto/Roboto-Medium.woff") format("woff");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Roboto";
	src: url("../font/Roboto/Roboto.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Roboto";
	src: url("../font/Roboto/Roboto-Light.woff") format("woff");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "Roboto";
	src: url("../font/Roboto/Roboto-Thin.woff") format("woff");
	font-style: normal;
	font-weight: 200;
}

