:root{
	--yellow: #f7941e;
	--black: #030406;
}
html, body{
	min-height: 100%;
}
html{
	font-size: 16px;
}
body{
	font-family: 'Roboto', sans-serif;
	background-color: #f7f8f9;
	color: var(--black);
}
.noscroll{
	overflow: hidden;
}
a{
	color: var(--black);
	transition: all .2s;
}
.wrapper{
	overflow-x: hidden;
}
.container{
}
.main{
}

.flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	&--wrap{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	&--center{
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	&--between{
		-webkit-box-pack: justify;
		-moz-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

}
.svg-sprite{
	display: none;
}
.ico{
	svg{
		width: 100%;
		height: 100%;
	}
}

.btn{
	display: inline-block;
	position: relative;
	font-size: 1rem;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	padding: 1.5em 4.365em 1.3em;
	&::before,
	&::after{
		content: '';
		width: 100%;
		height: 100%;
		border-width: 1px;
		border-style: solid;
		transform: skewX(-30deg);
		position: absolute;
		top: 0;
		left: 0;
		transition: all .3s;
	}
	&::after{
		transform: skewX(-30deg) translate(-3px, 3px);
	}
	&:hover{
		opacity: .8;
		&::after{
			transform: skewX(-30deg) translate(0, 0);
		}
	}
	&--lt{
		font-size: .8125em
	}
	&--yellow{
		&::before,
		&::after{
			border-color: #f7941e;
		}
		&::before{
			background-color: #f7941e;
			z-index: 1;
		}
	}
	&--border{
		&::before,
		&::after{
			border-color: rgba(#fff, .35);
		}
		&:hover{
			&::before,
			&::after{
				border-color: #f7941e;
			}
		}
	}
	span{
		position: relative;
		z-index: 2;
	}
}
::-webkit-input-placeholder {font-family: 'Roboto', sans-serif; font-size: 20px;color: #fff  }
::-moz-placeholder          {font-family: 'Roboto', sans-serif; font-size: 20px;color: #fff  } /* Firefox 19+ */
:-moz-placeholder           {font-family: 'Roboto', sans-serif; font-size: 20px;color: #fff  } /* Firefox 18- */
:-ms-input-placeholder      {font-family: 'Roboto', sans-serif; font-size: 20px;color: #fff  }

// Для стилей автозаполнения полей
// @-webkit-keyframes autofill {
//     to {
//         color: #fff;
//         background: transparent;
//     }
// }

// input:-webkit-autofill {
//     -webkit-animation-name: autofill;
//     -webkit-animation-fill-mode: both;
// }

/* хром, сафари */
.element::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.element { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.element { overflow: -moz-scrollbars-none; }







