/*price*/ 
.price{
	background:#000 url('../img/bg/price-bg.jpg') center top no-repeat;
	background-size: cover;
	padding: 5.5em 0;
	color: #fff;
	.container{
		width: 100%;
		max-width: 1490px;
		padding: 0 20px;
		margin: 0 auto;
	}
}
.price__title{
	text-align: center;
	font-size: 4.5rem;
	font-weight: 300;
	line-height: 1.4;
	margin-bottom: .75em;
	h2{
		text-transform: uppercase;
	}
	span{
		font-size: .4166em;
	}
}

.price__notice{
	font-size: 1.875rem;
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
	line-height: 1.4;
	font-weight: 300;
	margin-bottom: 6.875em;
}

.price__item{
	width: 49%;
	padding: 6.25em 2em 0 6.25em;
	&:first-child{
		background:#1e1e22 url('../img/bg/price-bg-1.png') left top no-repeat;

	}
	&:last-child{
		background:#1e1e22 url('../img/bg/price-bg-2.jpg') left top no-repeat;
	}
	.btn-container{
		text-align: right;
		padding-right: 3.5em;
	}
	.btn{
		transform: translateY(48%);
	}
}
.price__item__top{
	font-size: 1.875rem;
	font-weight: 300;
	margin-bottom: .5em;
}
.price__item__total{
	font-weight: 900;
	font-size: 4.6875em;
	margin-bottom: .25em;
}
.price__item__notice{
	font-size: 1.25rem;
	font-style: italic;
	line-height: 1.5;
	height: 3em;
	margin-bottom: 2em;
}








